<div class="container">
    <div class="card hoverable grey darken-4">
        <div class="card-content white-text">
          <div class="row">
            <form class=" form" method="POST" action="/signup">
              <div class="row">
                <div class="input-field sign-up col s12 m6 l8 offset-l2 white-text">
                  <i class="material-icons prefix">my_location</i>
                  <select name="cityName">
                    <option value="" disabled selected>Choose your City!</option>
                    <% for(var i=0; i<cities.length; ++i){ %>

                      <% // Select the city from the url parameters if one exists %>
                      <% if( cities[i].name === userCity ){ %>
                        <option class="city-name left" selected="selected" value="<%= cities[i].get().name %>" >
                      <% }else{ %>
                        <option class="city-name left" value="<%= cities[i].get().name %>" >
                      <% } %>
                      <%= cities[i].get().name %></option>
                    <% } %>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="input-field sign-up col s12 m6 l8 offset-l2 white-text">
                  <i class="material-icons prefix">perm_identity</i>
                  <input id="name" type="text" name="name" class="form-control validate ">
                  <label for="">Enter you name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field sign-up col s12 m6 l8 offset-l2 white-text">
                  <i class="material-icons prefix">email</i>
                  <input id="email" type="email" name="email" class="form-control validate">
                  <label for="email">Enter your email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field sign-up col s12 m6 l8 offset-l2 white-text">
                  <i class="material-icons prefix">lock</i>
                  <input id="password" type="password" name="password" class="form-control validate">
                  <label for="password">Enter your password</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field sign-up col s12 m6 l8 offset-l2 white-text">
                  <i class="material-icons prefix">lock</i>
                  <input id="password" type="password" name="password2" class="form-control validate">
                  <label for="password2">Re-type your password</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field sign-up col s12 m6 l8 offset-l2 right-align">
                  <button id="sign-up" type="submit" name="action" class="waves-effect waves-light btn-flat amber">Sign Up</button>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
</div>
