<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <div class="row">
        <div class="col s12 m4 hide-on-med-and-down">
          <h1 class="header white-text center shadowtext">Prepper</h1>
        </div>
      <div class="col s4 m4 offset-m4 hide-on-med-and-down">
        <br>
        <h5 class="header col s12 white-text center shadowtext">A survival app designed to help you prepare for the worst</h5>
      </div>
      </div>
    </div>
  </div>
  <div class="parallax"><img class=" imgtest" src="https://uscrow.org/wp-content/uploads/2014/09/Why-being-a-prepper-can-save-the-world.jpg" alt="Unsplashed background img 1"></div>
  <br><br><br><br>
  <h1 class="header white-text center hide-on-med-and-up shadowtext">Prepper</h1>
</div>
<div class="container white-text">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center amber-text"><i class="material-icons">info</i></h2>
          <h5 class="center">Prepper</h5>
          <h6 class="light">
          [pre-pər] - noun
          <br>
          1. Prepared individual, a survivalist.
          <br>
          To be self-reliant, or without substantial
          assistance from outside resources
          <br>
          (gov., police., etc. ..)
          </h6>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center amber-text"><i class="material-icons">visibility</i></h2>
          <h5 class="center">Threat assessment!</h5>
          <p class="light">
            The dangers you face in an emergency can very greatly depending on where you are located. Get your cities threat level below!
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center amber-text"><i class="material-icons">language</i></h2>
          <h5 class="center">Just how ready are you?</h5>

          <p class="light">
            Select your city, create an account, fill out your profile, and see where you stack up against your fellow Preppers!
          </p>
        </div>
      </div>
    </div>
 </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container testscroll valign">
      <div class="row valign" style="transform: translateX(0px); opacity: 1;">
        <div class="col s12 m4 ">
        <ul id="staggered-test">
          <li><h4 class="header col s12 white-text valign shadowtext">ARE</h4></li>
          <br><br>
          <li><h4 class="header col s12 white-text valign shadowtext">YOU</h4></li>
          <br><br>
          <li><h4 class="header col s12 white-text valign shadowtext">PREPARED?</h4></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/parasnorlax2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row white-text">
      <div class="col s12 m6 center">
        <br>
        <h3>Threat assessment!</h3>
        <p>Select the city closest to your home</p>
      </div>
      <div class="col s12 m1 center">
        <br><br>
        <h3><i class="mdi-content-send amber-text"></i></h3>
      </div>
      <div class="col s12 m5">
        <div class="input-field">
        <br>
          <form method="GET" action="threats">
            <select name="city">

              <option value="" disabled selected>Choose your City!</option>
              <% for(var i=0; i<cities.length; ++i){ %>
                <option class="city-name" value="<%= cities[i].get().name %>" >
                  <%= cities[i].get().name %>
                </option>
              <% } %>

            </select>
            <button id="threat-list" type="submit" class="waves-effect waves-light btn-flat amber white-text">Threat Down</button>
          </form>
        </div>
      </div>

      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container testscroll">
      <div class="row center" style="transform: translateX(0px); opacity: 1;">
        <h5 class="header col s12 white-text shadowtext">Get Prepped</h5>
         <a href="/signup" id="" class="btn-large waves-effect waves-light amber accent-3 lighten-1 modal-trigger">Sign Up</a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/parasnorlax3.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer transparent">
  <div class="container">
    <div class="row">
      <div class="col s12 l4">
        <h5 class="white-text">Dev team</h5>
        <p class="grey-text text-lighten-4">We are a diverse group of Web Developers who share a passion for survival ranging from reasonably and responsibly prepared, to slightly paranoid and a little to excited about the topic.</p>
      </div>
      <br>

      <div class="col sm12 m3 right">
        <h6 class="white-text">Josh  -  Git Master</h6>
        <ul class="soc">
            <li><a class="soc-github" href="#"></a></li>
            <li><a class="soc-facebook" href="#"></a></li>
            <li><a class="soc-linkedin soc-icon-last" href="#"></a></li>
        </ul>
      </div>

      <div class="col sm12 m3 right">
        <h6 class="white-text">Paul  -  Product Manager</h6>
        <ul class="soc">
            <li><a class="soc-github" href="#"></a></li>
            <li><a class="soc-facebook" href="#"></a></li>
            <li><a class="soc-linkedin soc-icon-last" href="#"></a></li>
        </ul>
      </div>

      <div class="col sm12 m3 right">
        <h6 class="white-text">Young  -  API Guy</h6>
        <ul class="soc">
            <li><a class="soc-github" href="#"></a></li>
            <li><a class="soc-facebook" href="#"></a></li>
            <li><a class="soc-linkedin soc-icon-last" href="#"></a></li>
        </ul>
      </div>

      <div class="col sm12 m3 right">
        <h6 class="white-text">Max  -  Mad Styles</h6>
        <ul class="soc">
            <li><a class="soc-github" href="#"></a></li>
            <li><a class="soc-facebook" href="#"></a></li>
            <li><a class="soc-linkedin soc-icon-last" href="#"></a></li>
          <br>
        </ul>
      </div>

      </div>
    </div>
  </div>
</footer>
