<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center black-text text-lighten-2">Prepper</h1>
      <div class="row center">
        <h5 class="header col s12 light">An survival app designed to help prepare you for the worst</h5>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/parasnorlax1.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container white-text">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center amber-text"><i class="material-icons">thumb_up</i></h2>
          <h5 class="center">Sign up and get prepped!</h5>
          <p class="light">
          Do you have everything you need to keep you and your loved ones safe when disaster strikes?
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center amber-text"><i class="material-icons">thumb_up</i></h2>
          <h5 class="center">Prepare for your area!</h5>

          <p class="light">
            The dangers you face in an emergency can very greatly depending on where you are located. And so do the tools and supplies you need!
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center amber-text"><i class="material-icons">thumb_up</i></h2>
          <h5 class="center">Just how ready are you?</h5>
          <p class="light">
            Select your city, create an account, fill out your profile, and see where you stack up against your fellow Preppers!
          </p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container testscroll valign">
      <div class="row valign" style="transform: translateX(0px); opacity: 1;">
        <div class="col s12 m4 ">
        <ul id="staggered-test">
          <li><h4 class="header col s12 white-text valign">ARE</h4></li>
          <br><br>
          <li><h4 class="header col s12 white-text valign">YOU</h4></li>
          <br><br>
          <li><h4 class="header col s12 white-text valign">PREPARED?</h4></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/parasnorlax2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row white-text">
      <div class="col s12 m5 center">
        <br>
        <h3>Choose your city!</h3>
        <p>Select the location closest to your home.</p>
      </div>
      <div class="col s12 m2 center">
        <br><br>
        <h3><i class="mdi-content-send amber-text"></i></h3>
      </div>
      <div class="col s12 m5">
        <div class="input-field">
        <br>
          <form method="GET" action="threats">
            <select name="city">

              <option value="" disabled selected>Choose your City!</option>
              <% for(var i=0; i<cities.length; ++i){ %>
                <option class="city-name" value="<%= cities[i].get().name %>" >
                  <%= cities[i].get().name %>
                </option>
              <% } %>

            </select>
            <button id="threat-list" type="submit" class="waves-effect waves-light btn-flat amber white-text">Threat Down</button>
          </form>
        </div>
      </div>

      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container testscroll">
      <div class="row center" style="transform: translateX(0px); opacity: 1;">
        <h5 class="header col s12 white-text">Sign Up Here.</h5>
         <a href="/signup" id="" class="btn-large waves-effect waves-light amber accent-3 lighten-1 modal-trigger">Sign Up</a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/parasnorlax3.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer transparent">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Our team</h5>
        <p class="grey-text text-lighten-4">We are a diverse group of Web Developers who share a passion for survival ranging from reasonably and responsibly prepared, to slightly paranoid and a little to excited about the topic.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Dev Team</h5>
        <ul>
          <li><a class="white-text" href="#!">Paul - Product Pusher</a></li>
          <li><a class="white-text" href="#!">Josh - Master of the Git</li>
          <li><a class="white-text" href="#!">Max - Jedi Master Developer</a></li>
          <li><a class="white-text" href="#!">Young - lvl100 Developer</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">git, linkedIn, facebook icons</a></li>
          <li><a class="white-text" href="#!">git, linkedIn, facebook icons</a></li>
          <li><a class="white-text" href="#!">git, linkedIn, facebook icons</a></li>
          <li><a class="white-text" href="#!">git, linkedIn, facebook icons</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
