<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center black-text text-lighten-2">Prepper</h1>
      <div class="row center">
        <h5 class="header col s12 light">An survival app designed to help prepare you for badassery</h5>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="assets/images/parasnorlax1.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center amber-text"><i class="material-icons">thumb_up</i></h2>
          <h5 class="center">Prepare for your area!</h5>
          <p class="light">
            Please Select the city you live in or the city that is nearest to your home.
          </p>


        <div class="input-field">
          <form method="GET" action="threats">
            <select name="city">
              <option value="" disabled selected>Choose your City!</option>
              <% for(var i=0; i<cities.length; ++i){ %>
                <option value="<%= cities[i].get().name %>" >
                  <%= cities[i].get().name %>
                </option>
              <% } %>
            </select>
            <button id="threat-list" type="submit" name="action" class="waves-effect waves-light btn-flat amber">Threat Down</button>
          </form>
        </div>


        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center amber-text"><i class="material-icons">thumb_up</i></h2>
          <h5 class="center">Headin' into twilight</h5>

          <p class="light">
            Spreadin' out her wings tonight
            She got you jumpin' off the deck
            And shovin' into overdrive
            <br>
            Highway to the Danger Zone
            I'll take you
            Right into the Danger Zone
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center amber-text"><i class="material-icons">thumb_up</i></h2>
          <h5 class="center">They never say hello to you</h5>

          <p class="light">
          Until you get it on the red line overload
          You'll never know what you can do
          Until you get it up as high as you can go
          <br>
          Out along the edge
          Is always where I burn to be
          The further on the edge
          The hotter the intensity
          <br>
          Highway to the Danger Zone
          I'm gonna take you
          Right into the Danger Zone
          Highway to the Danger Zone
          Right into the Danger Zone
          </p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container testscroll valign">
      <div class="row valign" style="transform: translateX(0px); opacity: 1;">
        <h5 class="header col s12 white-text valign">Such parallax!!!</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/parasnorlax2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send amber-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container testscroll">
      <div class="row center" style="transform: translateX(0px); opacity: 1;">
        <h5 class="header col s12 white-text">Much web development!!!</h5>
         <a href="/signup" id="" class="btn-large waves-effect waves-light amber accent-3 lighten-1 modal-trigger">Sign Up</a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/parasnorlax3.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Our team</h5>
        <p class="grey-text text-lighten-4">We are a diverse group of Web Developers who share a passion for survival ranging from reasonably and responsibly prepared, to slightly paranoid and a little to excited about the topic.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Dev Team</h5>
        <ul>
          <li><a class="white-text" href="#!">Paul - Product Pusher</a></li>
          <li><a class="white-text" href="#!">Josh - Master of the Git</li>
          <li><a class="white-text" href="#!">Max - Jedi Master Developer</a></li>
          <li><a class="white-text" href="#!">Young - lvl100 Developer</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">git, linkedIn, facebook icons</a></li>
          <li><a class="white-text" href="#!">git, linkedIn, facebook icons</a></li>
          <li><a class="white-text" href="#!">git, linkedIn, facebook icons</a></li>
          <li><a class="white-text" href="#!">git, linkedIn, facebook icons</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- Modal signin -->
<!--   <div id="modal_signup" class="modal modal-fixed-footer">
  <div class="modal-content">
  <br>
  <br>
    <form class="">
      <div class="row">
        <div class="input-field col s12 m6 l8 offset-l2">
          <i class="material-icons prefix">perm_identity</i>
          <input id="name" type="text" class="validate">
          <label for="">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6 l8 offset-l2">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6 l8 offset-l2">
          <i class="material-icons prefix">lock</i>
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat amber">Sign Up</a>
  </div>
</div> -->