<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pivotal Search</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css">
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  
  <!-- jQuery ui -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

  <script type="text/javascript" src="assets/script/script.js"></script>
</head>
<body>
 <nav>
    <div class="nav-wrapper grey darken-4">
      <a href="/" class="brand-logo">Prepper</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#modal_signin" data-target="modal_signin" class="modal-trigger">Login</a></li>
        <li><a href="profile">Profile</a></li>
        <li><a href="mobile.html">Ranks</a></li>
        <li><a href="mobile.html">Achievments</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#modal_signin" data-target="modal_signin" class="modal-trigger">Login</a></li>
        <li><a href="profile">Profile</a></li>
        <li><a href="mobile.html">Ranks</a></li>
        <li><a href="mobile.html">Achievments</a></li>
      </ul>
    </div>
  </nav>
  <!-- Modal signin -->
  <div id="modal_signin" class="modal bottom-sheet">
    <div class="modal-content">
      <div class="row">
        <form class="">
          <div class="input-field col s12 m6 l3 offset-l3">
            <i class="material-icons prefix">email</i>
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12 m6 l3">
            <i class="material-icons prefix">lock</i>
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat amber">Login</a>
    </div>
  </div>
  <%- body %>
</body>
</html>