<div class="container">
  <div class="row">
<!-- Current User Score -->
    <div class="col s12 m2 l2 profileCardSmall">
      <div class="card-panel small center-align z-depth-5">
        <img src="http://www.placecage.com/300/300" alt="" class="circle responsive-img">
        <p>Prepper Name</p>
        <p>Score</p>
      </div>
    </div>
<!--     Leaderboard -->
    <div class="col s10 m10 l8">
      <ul class="collection leaderboard">
      <%  %>
        <li class="collection-item avatar">
          <img src="http://www.placecage.com/300/300" alt="" class="circle">
          <span class="title">Prepper Name</span>
          <a href="#!" class="secondary-content">Prepper Score</a>
        </li>
      <%  %>
        <li class="collection-item avatar">
          <img src="http://www.placecage.com/300/300" alt="" class="circle">
          <span class="title">Prepper Name</span>
          <a href="#!" class="secondary-content">Prepper Score</a>
        </li>
        <li class="collection-item avatar">
          <img src="http://www.placecage.com/300/300" alt="" class="circle">
          <span class="title">Prepper Name</span>
          <a href="#!" class="secondary-content">Prepper Score</a>
        </li>
        <li class="collection-item avatar">
          <img src="http://www.placecage.com/300/300" alt="" class="circle">
          <span class="title">Prepper Name</span>
          <a href="#!" class="secondary-content">Prepper Score</a>
        </li>
        <li class="collection-item avatar">
          <img src="http://www.placecage.com/300/300" alt="" class="circle">
          <span class="title">Prepper Name</span>
          <a href="#!" class="secondary-content">Prepper Score</a>
        </li>
        <li class="collection-item avatar">
          <img src="http://www.placecage.com/300/300" alt="" class="circle">
          <span class="title">Prepper Name</span>
          <a href="#!" class="secondary-content">Prepper Score</a>
        </li>
        <li class="collection-item avatar">
          <img src="http://www.placecage.com/300/300" alt="" class="circle">
          <span class="title">Prepper Name</span>
          <a href="#!" class="secondary-content">Prepper Score</a>
        </li>
        <li class="collection-item avatar">
          <img src="http://www.placecage.com/300/300" alt="" class="circle">
          <span class="title">Prepper Name</span>
          <a href="#!" class="secondary-content">Prepper Score</a>
        </li>
        <li class="collection-item avatar">
          <img src="http://www.placecage.com/300/300" alt="" class="circle">
          <span class="title">Prepper Name</span>
          <a href="#!" class="secondary-content">Prepper Score</a>
        </li>
        <li class="collection-item avatar">
          <img src="http://www.placecage.com/300/300" alt="" class="circle">
          <span class="title">Prepper Name</span>
          <a href="#!" class="secondary-content">Prepper Score</a>
        </li>

      </ul>
    </div>
<!--     Top Scores  -->
    <div class="col s12 m2 l2">
      <div class="card-panel small yellow darken-2 center-align z-depth-5">
        <i class="material-icons">stars</i>
      </div>
    </div>
    <div class="col s12 m2 l2">
      <div class="card-panel small blue-grey lighten-2 center-align z-depth-5">
        <i class="material-icons">stars</i>
      </div>
    </div>
    <div class="col s12 m2 l2">
      <div class="card-panel small brown darken-1 center-align z-depth-5">
        <i class="material-icons">stars</i>
      </div>
    </div>
  </div>
</div>