<div class="container">
  <div class="row">
<!-- Current User Score -->
    <div class="col s12 m2 l2 offset-l1 profileCardSmall">
      <div class="card-panel small center-align grey darken-4 white-text z-depth-5">
        <img src="https://theawakezone.files.wordpress.com/2014/12/prepper.jpg" alt="" class="circle responsive-img">
        <p><%= typeof user.name === 'string' ? user.name : 'Unknown' %></p>
        <p><%= user.prepScore %></p>
      </div>
    </div>
<!--     Leaderboard -->
    <div class="col s12 m10 l6">
      <ul class="collection leaderboard grey darken-4 z-depth-5">
      <% users.forEach(function(user){ %>
        <li class="collection-item avatar grey darken-4 white-text">
          <img src="https://theawakezone.files.wordpress.com/2014/12/prepper.jpg" alt="" class="responsive-img circle">
          <span class="title"><%= user.name %></span>
          <a href="#!" class="right"><%= user.prepScore %></a>
        </li>
      <% }); %>
      </ul>
    </div>
<!--     Top Scores  -->
    <div class="col s12 m2 l2 hide-on-small-only">
      <ul class="collection">
        <li class="collection-item grey darken-4 center"><img src="assets/images/rank1.png" alt="" class=""></li>
        <li class="collection-item grey darken-4 center"><img src="assets/images/rank2.png" alt="" class=""></li>
        <li class="collection-item grey darken-4 center"><img src="assets/images/rank3.png" alt="" class=""></li>
      </ul>
    </div>
  </div>
</div>