<div style="width:600px; background-color:#aaffff; padding:10px;">
	<% for(var i=0; i<cities.length; ++i){ %>
		<% var city_i = cities[i].get(); %>
		<h1><%= city_i.name %></h1>
		<h3>Flood risk assessment:</h3>
		<p><%= city_i.flood_info %></p>
		<h3>Earthquake risk assessment:</h3>
		<p><%= city_i.earthquake_info %></p>
		<h3>Marauders risk assessment:</h3>
		<p><%= city_i.marauder_info %></p>
	<% } %>
</div>
<div style="width:600px; background-color:#aaffff; padding:10px;">
	<p>Sign up to connect with fellow Seattle Preppers and get the informaton you need to prepare accordingly.</p>
		<form>
			<>
		</form>
</div>