<h1>My home page</h1>
<% if(typeof user !== 'undefined') { %>

	Hello, <b><%= typeof user.name === 'string' ? user.name : 'Unknown' %></b>.
	
	<a href="/logout" class="btn btn-primary">Logout</a>

	<h3>Resources</h3>


	<% // DELETE THIS INLINE STYLE %>
	<form style="margin:auto; width:400px" action="/profile" method="post" class="input-field" >
		
		<div id="waterResourceSliderWrapper" class="sliderWrapper"></div>
		
		<input id="recWaterHiddenInput" name="recWater" value="10" type="hidden">
		<input id="haveWaterHiddenInput" name="haveWater" value="10" type="hidden">

		<div id="foodSlider" class="resourceSlider" ></div>
		<div id="gunSlider" class="resourceSlider" ></div>
		<input type="submit" value="Save." >
	</form>

<% } %>
