body {
/*background-color: #424242;*/
background-image: url('http://i.imgur.com/RYDbXUS.jpg');
background-size: ;
}

.page_one{
  background-image: url('public/images/radioactive.jpg');

}

/*MAIN PAGE*/
 .parallax-container {
    background-image: cover;
      height: 700px;
}


/*LOGIN PAGE*/
/* label color */
.sign-up label {
 color: #ffffff;
}
/* label focus color */
.sign-up input[type=text]:focus + label {
 color: #ffc107;
}
.sign-up input[type=email]:focus + label {
 color: #ffc107;
}
.sign-up input[type=password]:focus + label {
 color: #ffc107;
}
/* label underline focus color */
.sign-up input[type=text]:focus {
 border-bottom: 1px solid #ffc107;
 box-shadow: 0 1px 0 0 #ffc107;
}
.sign-up input[type=email]:focus {
 border-bottom: 1px solid #ffc107;
 box-shadow: 0 1px 0 0 #ffc107;
}
.sign-up input[type=password]:focus {
 border-bottom: 1px solid #ffc107;
 box-shadow: 0 1px 0 0 #ffc107;
}

/* icon prefix focus color */
.sign-up .prefix.active {
 color: #ffc107;
}

/*PROFILE PAGE*/
.profileCard{

}
.achievementCard{

}
.supplyCard{

}
.disasterCard{

}

/*LEADERBOARD PAGE*/
.profileCardSmall{

}
.leaderboard{

}
.collection-item{
  margin: 50px;
}

/* My styles for the sliders */

.resourceSlider{
	top:30px;
	width: 400px;
	margin: 0px 0px;
}

.sliderWrapper{
	height: auto;
	background-color: #666666;
	margin: 20px 0px;
}

.priHandle{
	height: 100px;
}

.recHandle{
	height: 100px;
}

.priHandleTracker{
	position: relative;
	top: 5px;
	left: 5px;
}

.rulerBar{
	background-color: silver;
	height: 20px;
}

.rulerTick{
	background-color: white;
	width: 2px;
	height: 20px;
	float: left;
	line-height: 20px;
}

.tickNumber{
	padding: 5px;
}

.recTick{
	background-color: green;
	position: relative;
	top: 0px;
	width: 2px;
	height: 35px;
}

.recHandleTracker{
	position: relative;
	top: 12px;
	left: 10px;
	width: auto;
	height: 32px;
}
