body {
/*background-color: #424242;*/
/*background-image: url('http://pre14.deviantart.net/00ab/th/pre/f/2013/346/2/9/vault_tec_2299_by_shitmonlee-d6xq19t.jpg');
background-size: cover;*/
}

/*MAIN PAGE*/
 .parallax-container {
    background-image: cover;
      height: 700px;
}

/*LOGIN PAGE*/
/* label color */
.sign-up label {
 color: #ffffff;
}
/* label focus color */
.sign-up input[type=text]:focus + label {
 color: #ffc107;
}
.sign-up input[type=email]:focus + label {
 color: #ffc107;
}
.sign-up input[type=password]:focus + label {
 color: #ffc107;
}
/* label underline focus color */
.sign-up input[type=text]:focus {
 border-bottom: 1px solid #ffc107;
 box-shadow: 0 1px 0 0 #ffc107;
}
.sign-up input[type=email]:focus {
 border-bottom: 1px solid #ffc107;
 box-shadow: 0 1px 0 0 #ffc107;
}
.sign-up input[type=password]:focus {
 border-bottom: 1px solid #ffc107;
 box-shadow: 0 1px 0 0 #ffc107;
}

/* icon prefix focus color */
.sign-up .prefix.active {
 color: #ffc107;
}

/*PROFILE PAGE*/
.profileCard{

}
.achievementCard{

}
.supplyCard{

}
.disasterCard{

}

/*LEADERBOARD PAGE*/
.profileCardSmall{

}
.leaderboard{

}
.collection-item{
  margin: 50px;
}

/* My styles for the sliders */

.resourceSlider{
	top:20px;
	width: 400px;
	margin: 20px 0px;
}

.sliderWrapper{
	height: 200px;
	background-color: red;
}

.priHandle{
	height: 100px;
}

.recHandle{
	height: 100px;
}

.priHandleTracker{
	position: absolute;
	top: -5px;
}

.recHandleTracker{
	position: absolute;
	top: 30px;
	height: 32px;
}

.rulerBar{
	background-color: silver;
	height: 20px;
}

.rulerTick{
	background-color: white;
	width: 2px;
	height: 20px;
	float: left;
	line-height: 20px;
}

.tickNumber{
	padding: 5px;
}

.recTick{
	position: relative;
	top: -20px;
	background-color: green;
	width: 2px;
	height: 40px;
}

.recHandleTracker{
	top: 20px;
	left: 10px;
	width: auto;
}
